aiodns==0.3.2
tldextract==1.7.1
-e git+https://github.com/tqdm/tqdm.git@4f03fd960fdc96145b43ba5ad3bf7500ca29e978#egg=tqdm-master
-e git+https://github.com/athrun/ipwhois.git@exponential-backoff#egg=exponential-backoff
